// ##### Color Cube ######
$Saltpan: #edf4ec;
$Woodsmoke: #121117;
$CapeCod: #4f505050;
$BlueLagoon: #048383;
$Manatee: #919194;
$Brown: #904d01;
$Riptide: #88e2e3;
$Casablanca: #f4ac4f;

// ##### Median Cut ######


// ##### Material Design ######

