// ##### Color Cube ######
$Saltpan: #edf4ec;
$Woodsmoke: #121117;
$CapeCod: #4f505050;
$BlueLagoon: #048383;
$Manatee: #919194;
$Brown: #904d01;
$Riptide: #88e2e3;
$Casablanca: #f4ac4f;

// ##### Median Cut ######
$GrayNurse: #e5ebe5;
$OuterSpace: #252c2f;
$DoveGray: #737373;
$Gumbo: #83a7a8;
$RegentGray: #7f939c;

// ##### Material Design ######
$Whiskey: #d29261;
$RiverBed: #4d5a65;
$ElfGreen: #088181;
$Woodsmoke: #131314;
$MorningGlory: #8cdadc;

